In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [15]:
column_names={'T1': 'Temperature in kitchen area',
'RH_1':'Humidity in kitchen area',
'T2': 'Temperature in living room area', 
'RH_2': 'Humidity in living room area', 
'T3': 'Temperature in laundry room area',
'RH_3': 'Humidity in laundry room area', 
'T4': 'Temperature in office room', 
'T5': 'Temperature in bathroom',
 'RH_4':'Humidity in office room',             
'RH_5': 'Humidity in bathroom', 
'T6': 'Temperature outside the building (north side)', 
'RH_6': 'Humidity outside the building (north side)', 
'T7': 'Temperature in ironing room' , 
'RH_7': 'Humidity in ironing room', 
'T8': 'Temperature in teenager room 2', 
'RH_8': 'Humidity in teenager room 2', 
'T9': 'Temperature in parents room',
'RH_9': 'Humidity in parents room', 
'To': 'Temperature outside (from Chievres weather station)', 
'RH_out': 'Humidity outside (from Chievres weather station)',
'rv1': 'Random variable 1, nondimensional',
'rv2': 'Random variable 2, nondimensional'}

In [53]:
df1=df.rename(columns=column_names)
df1

,date,Appliances,lights,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,...,Temperature in parents room,Humidity in parents room,T_out,Press_mm_hg,Humidity outside (from Chievres weather station),Windspeed,Visibility,Tdewpoint,"Random variable 1, nondimensional","Random variable 2, nondimensional"
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [ ]:
#Q12
df_12=df1[['Temperature in living room area','Temperature outside the building (north side)']]
t2=df_12[['Temperature in living room area']]
t6=df_12['Temperature outside the building (north side)']

from sklearn.linear_model import LinearRegression
lr_model= LinearRegression()
lr_model.fit(df_12[['Temperature in living room area']],df_12['Temperature outside the building (north side)'])

from sklearn.metrics import r2_score
r2_score=r2_score(df_12['Temperature in living room area'],df_12['Temperature outside the building (north side)'])
round(r2_score,3)

In [54]:
#Q13
from sklearn.preprocessing import MinMaxScaler
df1=df1.drop(columns=['date','lights'])
scaler= MinMaxScaler()
normalised_df=pd.DataFrame(scaler.fit_transform(df1),columns=df1.columns)

features_df=normalised_df.drop(columns=['Appliances'])
heating_target=normalised_df['Appliances']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(features_df,heating_target,test_size=0.3, random_state=42)

from sklearn import datasets, linear_model, metrics
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)
predicted_values= reg.predict(x_test)


#MAE
from sklearn.metrics import mean_absolute_error
mae= mean_absolute_error(y_test,predicted_values)
round(mae, 2)

0.05

In [57]:
#Q14
from sklearn.metrics import mean_squared_error
n=19735
residual_SS=n*mean_squared_error(y_test,predicted_values)
round(residual_SS,2)

151.15

In [59]:
#Q15
rmse=np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [60]:
#Q16
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,predicted_values)
round(r2_score,2)

0.15

In [62]:
#Q17
from sklearn.linear_model import LinearRegression 
def get_weights_df(model,feat,col_name):
    weights=pd.Series(model.coef_,feat.columns).sort_values()
    weights_df= pd.DataFrame(weights).reset_index()
    weights_df.columns=['Features',col_name]
    weights_df[col_name].round(3)
    return weights_df
reg_weights= get_weights_df(reg,x_train,'Linear_Model_Weight')
reg_weights

                                            Features  Linear_Model_Weight
0                       Humidity in living room area            -0.456698
1                                              T_out            -0.321860
2                    Temperature in living room area            -0.236178
3                        Temperature in parents room            -0.189941
4                        Humidity in teenager room 2            -0.157595
5   Humidity outside (from Chievres weather station)            -0.077671
6                           Humidity in ironing room            -0.044614
7                           Humidity in parents room            -0.039800
8                            Temperature in bathroom            -0.015657
9                        Temperature in kitchen area            -0.003281
10                 Random variable 1, nondimensional             0.000770
11                 Random variable 2, nondimensional             0.000770
12                                       Press_mm_hg             0.006839
13                       Temperature in ironing room             0.010319
14                                        Visibility             0.012307
15                              Humidity in bathroom             0.016006
16                           Humidity in office room             0.026386
17                        Temperature in office room             0.028981
18                                         Windspeed             0.029183
19        Humidity outside the building (north side)             0.038049
20                     Humidity in laundry room area             0.096048
21                    Temperature in teenager room 2             0.101995
22                                         Tdewpoint             0.117758
23     Temperature outside the building (north side)             0.236425
24                  Temperature in laundry room area             0.290627
25                          Humidity in kitchen area             0.553547

In [66]:
#Q18
from sklearn.linear_model import Ridge
ridge_reg= Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)

ridge_predicted_values= ridge_reg.predict(x_test)

rmse=np.sqrt(mean_squared_error(y_test,ridge_predicted_values))
round(rmse,3)

0.088

In [68]:
#Q19
from sklearn.linear_model import Lasso
lasso_reg=Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)

lasso_weights_df= get_weights_df(lasso_reg,x_train,'Lasso_Weight')
lasso_weights_df

                                            Features  Lasso_Weight
0   Humidity outside (from Chievres weather station)     -0.049557
1                        Humidity in teenager room 2     -0.000110
2                        Temperature in kitchen area      0.000000
3                                          Tdewpoint      0.000000
4                                         Visibility      0.000000
5                                        Press_mm_hg     -0.000000
6                                              T_out      0.000000
7                           Humidity in parents room     -0.000000
8                        Temperature in parents room     -0.000000
9                     Temperature in teenager room 2      0.000000
10                          Humidity in ironing room     -0.000000
11                 Random variable 1, nondimensional     -0.000000
12                       Temperature in ironing room     -0.000000
13     Temperature outside the building (north side)      0.000000
14                              Humidity in bathroom      0.000000
15                           Temperature in bathroom     -0.000000
16                           Humidity in office room      0.000000
17                        Temperature in office room     -0.000000
18                     Humidity in laundry room area      0.000000
19                  Temperature in laundry room area      0.000000
20                      Humidity in living room area     -0.000000
21                   Temperature in living room area      0.000000
22        Humidity outside the building (north side)     -0.000000
23                 Random variable 2, nondimensional     -0.000000
24                                         Windspeed      0.002912
25                          Humidity in kitchen area      0.017880

In [75]:
#Q20
lasso_predicted_values= lasso_reg.predict(x_test)
rmse=np.sqrt(mean_squared_error(y_test,lasso_predicted_values))
round(rmse,3)

0.094